.regis {
    text-align: center;
    background-image: url("../image/wallpaper.jpg");
    background-size: 1980px 1080px;
    

}
.regis-header{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  /* text-align: center; */
  /* text-indent: 20px; */
   margin-left: 10%;
}
.regisbox{
  min-height: 620px;
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: white;
  margin-right: 8%;
 
}
.form-control-type{
  
  margin-left: 1%;
  margin-bottom: 18px;
  margin-top: 15px;
}
.btn.btn-primary.e{
  width: 220px;
  margin-left: 1%;
}
.form-name{
  margin-right: 5%;
  width: 320px;
}
.form-email{
  margin-right: 99%;
}
.form-password{
  margin-right: 99%;
}
.form-number{
  margin-right: 99%;
}
.form-group{
  font-size: 15px;
}
.form-control-day{
  width: 50px;
  height: 40px;
  
}
.form-control-month{
  width: 91px;
  height: 40px;
}
.form-control-year{
  width: 70px;
  height: 40px;
}
a3{
  font-size: 45px;
  text-align: right;
}
p{
  text-align: center;
   line-height : 10px;
}